/ckpt
/collect_contrastive_pair_MATH.py
/collect_contrastive_pair.py
/collect_rejection_sampling.py
/data/*
/fig
gen_train.sh
group_sample_30b.sh
group_sample_65b.sh
group_sample_7b_13b.sh
group_test_30b.sh
group_test_65b.sh
group_test_7b_13b.py
job.sh
MATH_util.py
meta_eval_dir.sh
meta_test.py
model_performance.txt
ppo
__pycache__
/README.md
results
/RM/ckpts/
/RM/wandb
single_inference_30b.py
single_inference_65b.py
single_test_30b.sh
single_test_65b.sh
dir_test.sh
test_n.py
test.py
train_13b.sh
train_7b.sh
train_30b.sh
train_65b.sh
train_70b.sh
train_copy_metamath.py
train_llama2_70b.py
train_llama_30b_65b.py
train_llama_7b.sh
train.py
wandb
/RM/reward_model_inference_single_GPU.py